{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
 <!--- Image in container --->
 <div class="container-fluid">
    <div class="row my-5">
        <div class="col-sm-8 col-md-8 hero-image">
           
        </div>
        <div class="col-sm-4  col-md-4 my-4">
            <div class="container">
                <div class="row hero-text">
                    <!--- paragraph --->
                    <div class="col-sm-12">
                        <h2 class="heroimage-header logo-font">Farm Techs</h2>
                        <p class="index-hero-p lead">The Survival of Our Plante Revolve Around Modern But Sustainable Farm Technologies.</p>
                        <div class="shop-btn-cta">
                            <a href="{% url 'products' %}" class="cta shop-now-button logo-font ml-auto">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

  