{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
 <!--- Image in container --->
 <div class="container-fluid">
    <div class="row my-5">
        <div class="col-md-8 half-left hero-image ">
           
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6  col-md-4 half-right">
            <div class="container">
                <div class="row hero-text">
                    <!--- paragraph --->
                    <div class="col-sm-12">
                        <h2 class="hand-picked">Farm Techs</h2>
                        <p class="section-2-p">The Survival of Our Plante Revolve Around Modern But Sustainable Farm Technologies.</p>
                        <div class="section-cta">
                            <a href="{% url 'products' %}" class="cta shop-now-button ml-auto">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

  