<!-------------------------------footer-section------------------>

<footer class="container-fluid footerContainer" id="footer-bottom-stick">
    <div id="footer-contents" class="row  no-gutters text-center">
        <div class="col-sm-4 foot-links-container">
           <p> <a href="{% url 'products' %}" class="foot-links">Shop</a></p>
            <p><a href="{% url 'post' %}" class="foot-links">Blog</a></p>
        
        </div>


        <!-------------------------------footer-contacts---->

        <div class="col-sm-4 foot-links-container contacts">
        
                <p>Rotterdam,<br>The Netherland</p>
            
               <p>rozdandy@gmail.com</p>
        </div>

        <!-------------------------------footer-socialMedia---->

        <div class="col-sm-4 foot-links-container">
            <ul class="list-inline social-media">
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i>
                        <span class="sr-only" aria-hidden="true">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.twitter.com/">
                        <i class="fab fa-twitter"></i>
                        <span class="sr-only" aria-hidden="true">Twitter</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="http://linkedin.com/">
                        <i class="fab fa-linkedin" aria-hidden="true"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</footer>