{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<!-- Blog categories-->
<div class="container-fluid">
    <div class="row-products">
        <div class="col text-center mt-3 mb-3 pb-1">
            <h2 class="logo-font">{{ category.title }}</h2>
            
        </div>
    </div>
    {% for post in category.posts.all %}
    <div class="row mt-4">
        <div class="col-8 offset-2">
            <h3 class="blog-title mt-3">{{ post.title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="text-muted">{{ post.date_added | date:"d M, Y | h:i" }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <article>{{ post.overview }}</article>
        </div>
    </div>
    <div class="row pb-2 mt-3">
        <div class="col-8 offset-2">
            <a href="{% url 'detail_post'  post.slug %}" class="read-text">Read more</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}