{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<main class="container h-100">

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-darrk">
        <div class="col-12 col-md-6 px-0">
            <h1 class="display-4 fst-italic text-center">Agro-Climate blog</h1>
            <h4 class="lead my-3 mr-auto bg-darrk2">Get the Best and current News on Agriculture, Food Security and Climate Change here.</h4>
        </div>
    </div>

    
    <div class="album py-5 bg-light">
        <div class="container">
    
            <div class="row mb-5">
                {% for post in posts %}
                <div class="col col-12 col-md-4">
                    <div class="card shadow-sm mb-5 blog-title">
                        <h3 class="mb-0">{{ post.title }}</h3>
    
    
                        {% if post.thumbnail %}
                            <div class="col-12 ">
                                <img src="{{ post.thumbnail.url }}" alt="blog-image" class="card-img-top" alt="climate-change" width="100%" height="225">
                            </div>
                            {% else %}
                            <div class="col-12">
                                <img src="{{ post.image_url }}" alt="blog-image" class="card-img-top" alt="climate-change" width="100%" height="225">
                            </div>
                            {% endif %}
    
    
                        <div class="card-body">
                            <p class="card-text mb-auto blog-overview">{{ post.overview|truncatewords:20 }}</p>
                            
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'detail_post' post.slug %}" class="stretched-link">Read More</a>
                                </div>
                                <div class="mb-1 text-muted">{{ post.date_added | date:"d M - Y | h:i"}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </div>
        </div>
    </div>
</main>
{% endblock %}





















