{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-products">
        <div class="col text-center pb-1">
            <h3 class="logo-font">Error 404</h3>
            
        </div>
    </div>

    <div class="container general-container">
        <div class="row">
            <div class="col">
                <p>
                    Sorry!  apparently you you using the wrong URL or wrong redirect, follow the link below to the main store
                </p>
                <div class="error-page-ctas mt-5">
                    <a class="cta cta-black mr-2 mb-2 d-inline-block" href="{% url 'products' %}">Go Shopping</a>
                    <a class="cta cta-white d-inline-block" href="{% url 'home' %}">Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}